#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background: #000;
}

.cardGenaretor {
  text-align: center;
  margin: 20px;
  position: fixed;
  color: #000;
  top: 0;
  left: 45%;
}
